In [152]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "../schools_complete.csv"
student_data_to_load = "../students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [153]:
#total number of unique schools
#unique_schools = ["school_name"]
#unique = {col: school_data_complete[col].unique() for col in unique_schools}

#print total number of unique schools
len(school_data)
print(f"Total schools: ", len(school_data))

Total schools:  15

In [154]:
#total number of students
count_stu = school_data_complete.shape[0]-1
count_stu

print(f"Total number of students: ", count_stu)

Total number of students:  39169

In [155]:
#total budget
budget_df = pd.read_csv("../schools_complete.csv")
tot_bud = budget_df['budget'].sum()

print (f"Total budget: ", tot_bud)

Total budget:  24649428

In [156]:
#Average math score
math_df = student_data["maths_score"].mean()
math_df

print(f"Average math score: ", math_df)

Average math score:  70.33819249425581

In [157]:
#Average reading score
read_df = student_data["reading_score"].mean()
read_df

print(f"Average reading score: ", read_df)

Average reading score:  69.98013786060761

In [158]:
# % Passing Math
pass_math = 0
for i in student_data["maths_score"]:
    if i >= 50:
        pass_math = pass_math+1

pass_math_per = pass_math / count_stu * 100
print(f"% Passing Math: ", pass_math_per)

% Passing Math:  86.08082922719498

In [159]:
# % Passing Reading
pass_read = 0
for i in student_data["reading_score"]:
    if i >= 50:
        pass_read = pass_read+1

pass_read_per = pass_read / count_stu * 100
print (f"% Passing Reading: ", pass_read_per)

% Passing Reading:  84.42901273966658

In [160]:
# % Overall Passing
overall_pass = 0
for row in student_data.itertuples():
    if row.reading_score >= 50 and row.maths_score >= 50:
        overall_pass +=1

overall_pass_per = overall_pass / count_stu * 100
print (f"% Overall Passing: ", overall_pass_per)
        

#print(df.maths_score)

% Overall Passing:  72.810130460313

In [161]:
#School Summary BEGIN
school_sum_df = school_data
school_sum_df

    School ID            school_name         type  size   budget
0           0      Huang High School   Government  2917  1910635
1           1   Figueroa High School   Government  2949  1884411
2           2    Shelton High School  Independent  1761  1056600
3           3  Hernandez High School   Government  4635  3022020
4           4    Griffin High School  Independent  1468   917500
5           5     Wilson High School  Independent  2283  1319574
6           6    Cabrera High School  Independent  1858  1081356
7           7     Bailey High School   Government  4976  3124928
8           8     Holden High School  Independent   427   248087
9           9       Pena High School  Independent   962   585858
10         10     Wright High School  Independent  1800  1049400
11         11  Rodriguez High School   Government  3999  2547363
12         12    Johnson High School   Government  4761  3094650
13         13       Ford High School   Government  2739  1763916
14         14     Thomas High School  Independent  1635  1043130

In [162]:
#Remove school ID from dataframe
new_school_df = school_data.drop('School ID', axis=1)
new_school_df

              school_name         type  size   budget
0       Huang High School   Government  2917  1910635
1    Figueroa High School   Government  2949  1884411
2     Shelton High School  Independent  1761  1056600
3   Hernandez High School   Government  4635  3022020
4     Griffin High School  Independent  1468   917500
5      Wilson High School  Independent  2283  1319574
6     Cabrera High School  Independent  1858  1081356
7      Bailey High School   Government  4976  3124928
8      Holden High School  Independent   427   248087
9        Pena High School  Independent   962   585858
10     Wright High School  Independent  1800  1049400
11  Rodriguez High School   Government  3999  2547363
12    Johnson High School   Government  4761  3094650
13       Ford High School   Government  2739  1763916
14     Thomas High School  Independent  1635  1043130

In [163]:
#sort by name
new_school_df.sort_values(by=['school_name'])

              school_name         type  size   budget
7      Bailey High School   Government  4976  3124928
6     Cabrera High School  Independent  1858  1081356
1    Figueroa High School   Government  2949  1884411
13       Ford High School   Government  2739  1763916
4     Griffin High School  Independent  1468   917500
3   Hernandez High School   Government  4635  3022020
8      Holden High School  Independent   427   248087
0       Huang High School   Government  2917  1910635
12    Johnson High School   Government  4761  3094650
9        Pena High School  Independent   962   585858
11  Rodriguez High School   Government  3999  2547363
2     Shelton High School  Independent  1761  1056600
14     Thomas High School  Independent  1635  1043130
5      Wilson High School  Independent  2283  1319574
10     Wright High School  Independent  1800  1049400

In [164]:
new_school_df = df.rename(columns={'school_name': 'School Name', 'type': 'School Type', 'size': 'Total Students', 'budget': 'Total School Budget'})
new_school_df

,School ID,School Name,School Type,Total Students,Total School Budget
0,0,Huang High School,Government,2917,1910635
1,1,Figueroa High School,Government,2949,1884411
2,2,Shelton High School,Independent,1761,1056600
3,3,Hernandez High School,Government,4635,3022020
4,4,Griffin High School,Independent,1468,917500
5,5,Wilson High School,Independent,2283,1319574
6,6,Cabrera High School,Independent,1858,1081356
7,7,Bailey High School,Government,4976,3124928
8,8,Holden High School,Independent,427,248087
9,9,Pena High School,Independent,962,585858
10,10,Wright High School,Independent,1800,1049400
11,11,Rodriguez High School,Government,3999,2547363
12,12,Johnson High School,Government,4761,3094650
13,13,Ford High School,Government,2739,1763916
14,14,Thomas High School,Independent,1635,1043130

In [165]:
#per student budget

In [166]:
# ave math scores

In [ ]:
# ave reading scores

In [ ]:
# % pass maths

In [ ]:
# % pass reading

In [ ]:
# % overall pass